:root {
  --border-color: "2px solid black";
  --btn-primary: #4B0E90;
  --highlight: #1B0533;
  --text: #080E01;
  --shadow: #00000041;
  --main-bg: #FFFFFF;
}
body {
  background-color: #F9F8F8;
  font-family: 'Roboto Slab', serif;
}

.fotivity-container {
  width: 80%;
  margin: 8rem auto;
  color:#463A3A;
}

.logo {
  font-family: 'Tilt Neon', cursive;
  text-decoration: none;
  font-size: 2rem;
  color: black;
}
/* NEW STYLING */

/* Task */
.task-header {
  background-color: var(--highlight);
  border-radius: 10px 10px 0 0;
  height: 1.5rem;
  color: white;
  font-weight: bold;
}

.task {
  background-color: var(--main-bg);
  border-radius: 0 0 10px 10px;
  height: 8rem;
  box-shadow: 0 4px 4px #00000041;
  padding: 0.4rem;
  margin-bottom: 1rem;
}

.task-schedule {
  padding: 1rem;
  cursor: pointer;
  width: 25%;
  box-shadow: #00000052 0px 2px 2px
}
.task-schedule-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-schedule-top-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.task-schedule-top h3 {
  margin: 0;
  font-size: 1.5rem;
}

.task-schedule-top span {
  margin-left: 0.2rem
}

.task-schedule-left div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-schedule-left span {
  align-self: flex-end;
}

.task-schedule-middle p, .task-schedule-middle h3 {
  margin: 0;
  font-size: 1.2rem
}

.task-schedule-right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.2rem;
}

.unassigned-tasks-header {
  font-size: 1.4rem;
  font-weight: bold;
}

.button-primary {
  border-radius: 10px;
  color: white;
  font-weight: bold;
  background-color: var(--btn-primary);
  font-size: 1.5rem;
  border: none;
  margin: 1rem;
  padding: 0.5rem;
  max-height: 3rem;
}

.secondary-button {
  border-radius: 10px;
  color: var(--highlight);
  background: none;
  font-weight: bold;
  font-size: 1.2rem;
  border: 2px solid var(--highlight);
  margin: 1rem;
  padding: 0.5rem;
  min-width: 6rem;
  max-height: 3rem;
}

.component-header {
  width: 98%;
  margin: 0 auto;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 4px 4px #00000041;
  margin-bottom: 1rem;
}

.component-header h2, .component-header p {
  margin: 0;
}

.component-header-details {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 15%;
  padding: 0.4rem;
  font-size: 1.4rem;
  flex-direction: column;
}
.component-header-breakdown {
  width: 70%;
  margin-bottom: 1rem;
  padding: 0.4rem;

}
.component-header-actions {
  width: 15%;
  padding: 0.4rem;
  display: flex;
  justify-content: flex-end;
}


/* OLD BELOW */
/* FORMS */
.form-container h1 {
  margin: 0;
  margin-bottom: 1rem;
}

.form-container {
  margin: 5rem auto;
  width: 60%;
  padding: 1rem;
  /* box-shadow: inset 0px 0px 8px 6px rgba(197, 193, 197, 0.986); */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container form {
  width: 60%;
  padding: 1rem;
  margin: 0 auto;
  text-align: flex-start;
  display: flex;
  flex-direction: column;
}

.form-container label {
  font-size: 1.4rem;
}

.form-container input {
  margin-bottom: 1.2rem;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.form-container button {
  width: 30%;
  align-self: flex-end;
  margin-bottom: 1.2rem;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  font-size: 1.2rem; 
  background-color: white;
  cursor: pointer;
}

.form-container .form-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* Sessions */

.sessionList-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.session {
  background-color: #fdfdfd;
  min-width: 25.1%;
  max-width: 25.1%;
  margin: 1rem 1rem 1rem 3rem;
  border-top: 0.8rem solid rgb(54, 50, 50);
  box-shadow: 1px 3px 4px 2px #d6d6d683;
  min-height: 25vh;
  padding: 1rem;
}

.component-nav {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 2rem auto;
  align-items: center;
  padding: 0.4rem;
  box-shadow:  1px 3px 4px 2px #d6d6d683;
}

.component-nav input {
  padding: 0.5rem;
  border: 2px solid #aca6a6;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.checkbox-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.checkbox-container input {
  margin: auto;
}

.session-active {
  background-color: #ebebe5be !important;
}

.react-calendar-heatmap .color-scale-1 { fill: #f894f0; }
.react-calendar-heatmap .color-scale-2 { fill: #b34fab; }
.react-calendar-heatmap .color-scale-3 { fill: #8f2586; }

.react-calendar-heatmap .color-scale-4 { fill: #6a0bc2; }
.react-calendar-heatmap .color-scale-5 { fill: #49088a; }
.react-calendar-heatmap .color-scale-6 { fill: #1a0b29; }


/* schedule */
.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}

/* antd over writes */
.ant-picker-calendar-full .ant-radio-button-wrapper:last-child  {
  visibility: hidden !important;
}



.body {
  width: '40%';
  margin: '0 auto';
  background-color: '#FFFFFF';
  border-radius: '10px';
  padding: '1rem';
  box-shadow: '#00000052 0px 2px 2px';
}